:root {
    --mainmenuclr: #8a8a8a;
    --fff:  #fff;
    --transparent:  #ffffff00;
    --blue: blue;
}

@font-face {
    font-family: gamefont;
    src: url(https://raw.githubusercontent.com/South-Paw/typeface-vag-rounded/master/files/vag-rounded-400.woff2);
}

@font-face {
	font-family: hpammo;
	src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_dJE3gnD_g.woff2);
}

/* @font-face {
    font-family:gamefont;
    src:url(https://dl.dropboxusercontent.com/s/hi2sp9a5nq9t9ml/kaorigel.medium.ttf?dl=0)
} */

/* @font-face {
    font-family: gamefont;
    src: url(https://github.com/CrafterlKrunker/NullClient/blob/main/app/fonts/);
} */


/*MAIN MENU*/
    /* LOGO */
#mainLogo {
    content:url(https://cdn.discordapp.com/attachments/989073682355851274/989074147357380618/unknown.png);
}

#seasonLabel {
    display: none;
}

.material-icons-outlined {
	color: var(--fff)!important;
}
#menuItemContainer {
    background: var(--transparent);
}

.button,.button:hover {
	position: relative;
	border: none!important;
	background-color: var(--transparent);
	
}

.menuClassPlayerClan {
    animation: rainbowT .5s linear infinite;
}

.leaderNameM span{
    animation: rainbowT .5s linear infinite;
} 

#customizeButton,#policeButton {
	position: relative;
	bottom: 0px;
	border: none!important;
	background-color: var(--transparent);
	font-size: 40px !important;
	
}

.adsbygoogle:adsbygoogle-noablate {
	display: none!important;
}

.menuItemTitle,#hudClassIcon, #timerIcon, #maxHP, #challIcon, #ammoMax, #ammoIcon, #reloadMsg{
    display: none;
}


#healthBar{
    position: fixed;
    height: 15px;
    width: auto;
    will-change: unset;
    left: 42.5%;
    right: 42.5%;
	bottom: 9%;
}



/* #healthBar .healthBarSeg:not(:last-child) .hpBSeg {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
  
#healthBar .healthBarSeg:not(:first-child) .hpBSeg {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#healthBar .healthBarSeg {
    width: 100%;
    -webkit-transform: unset;
            transform: unset;
    -webkit-transition: all 280ms;
    transition: all 280ms;
    margin-right: 0px;
    background: transparent;
} */

/* .hpBSeg,.healthBarSeg {
    border-radius: 5%;
    background-color: var(--transparent);
} */

#healthValueHolder {
    background-color: transparent;
    width: 75px;
    height: 65px;
    letter-spacing: 1px;
    position: fixed;
    left: 35%;
    bottom: 0%;
    margin-bottom: 10%;
    align-items: center
}

#healthValue {
	font-size: 60px;
	text-align: center;
	color: var(--mainmenuclr);
	margin-top: 0;
	will-change: unset;
	text-shadow: var(--outline)
}

#ammoDisplay {
    background-color: var(--transparent) !important;
    width: 65px;
    height: 10px;
	top: calc(50% + 35px);
    left: 48.76%;
}

#ammoVal {
    position: fixed;
    right: 35% !important;
    bottom: 0% !important;
    margin-bottom: 10% !important;
    font-size: 60px !important;
    text-shadow: var(--outline);
    color: var(--mainmenuclr);
}

#ammoDisplay {
    background-color: var(--mainmenuclr);
    letter-spacing: 1px;
    border-radius: 0px;
    position: fixed;
    right: 30%;
    bottom: 10%;
    margin-bottom: 10%;
    padding: 0;
    padding-top: 0;
    padding-left: 0;
    transform: none;
}

#timerDisplay {
    left: 50%;
    top: 100px;
	background-color: var(--mainmenuclr);
}


/*Leaderboard*/
.leaderNameM, .newLeaderNameM, .endTableN[style='color: #fff;'] {
    color: var(--mainmenuclr);
}
.leaderNameF, .newLeaderNameF, .endTableN[style='color: rgba(255,255,255,.6);'] {
    color: var(--mainmenuclr) !important;
}

.leaderName, .newLeaderName, .endTableN[style='color: #eb5656;'] {
    color: #b10000 !important;
}

.leaderScore {
    color: var(--mainmenuclr) !important;
}

.leaderCounter {
    color: var(--mainmenuclr) !important;
}

#leaderDisplay {
    background-color: var(--transp) !important;
    border: 4px solid var(--mainmenuclr);
}


/*HUD*/

#slid_xpBarCol{
    background: var(--fff);
}

#slid_xpBarCol2{
    background: var(--blue);
}
.xpBarB {
    height: 100%;
    background-image: linear-gradient(to right,var(--fff),var(--blue))
}

/* .weapIcon{
    
} */

/* .weapIcon {
    margin-right: 0 !important;
}

.weapIcon[style*="opacity: 0.7"], .weapIcon[style*="opacity:0.7"] {
    position: fixed;
    right: calc(50% - 64px);
    bottom: -140px;
    opacity: 0 !important;
}

.weapIcon[style*="opacity:1"], .weapIcon[style*="opacity: 1"] {
    position: fixed;
    bottom: 200px;
    right: calc(50% - 64px);
}

.weapItem:last-child .weapIcon {
    transform: translateY(16px);
}*/

.weapKey {
    display: none
} 

#weapDisplay {
    bottom: 50%;
    transform: translateY(50%);
}


#pingText:after {
    content: ' ms';
    color: var(--mainmenuclr);
}

#pingText {
    color: var(--blue); 
}

#pingDisplay .material-icons {
    display: none;
}

#fpsDisplay {
    color: var(--mainmenuclr);
}

#ingameFPS {
	color: var(--blue)!important;
}

#menuPingDisplay, #menuFPSDisplay {
        color: var(--fff) !important;
}
#menuFPS {
        color: var(--fff) !important;
    }
    #menuPingText {
        color: var(--fff);
        }
    #menuPingText:after {
        content: " ms";
        color: var(--fff);
        }
    #menuPingDisplay .material-icons {
        display: none;
}


/*Canvas*/


#mLevelCont,#signedInHeaderBar,#signedOutHeaderBar{
    background: var(--mainmenuclr);
}

#newsBody,#newsStat,#newsHed,#newsHolder,#rankedBlog,#updateAd,#streamContainer,#krDiscountAd {
    display: none!important;
}
#voiceDisplay {
	background-color: var(--transparent)!important;
}

#menuItemContainer{
    background-color: var(--mainmenuclr);
}

#curGameInfo {
	color:skyblue
}

#menuClassContainer {
	position: fixed;
	top: 60%;
	left: 70%;
	transform:scale(0.75)
}

.menuClassPlayerClan::after{
    content: ' ';
}


/*Xp bars*/
#menuLevelBar.progressBarInner{
    background: linear-gradient(90deg,var(--fff),74%,var(--blue));
}

.chalXPBarC {
    background-color: linear-gradient(90deg,var(--fff),74%,var(--blue));
}

.xpEndBarB{
	background:linear-gradient(90deg,var(--fff),74%,var(--blue));
}

.clsXPBar{
	background-color:linear-gradient(90deg,var(--fff),74%,var(--blue));
}

#igXPBar{
	background-color:linear-gradient(90deg,var(--fff),74%,var(--blue));
}

#igXPBarProg{
    background-color: linear-gradient(90deg,var(--fff),74%,var(--blue));
}
/*.xpBarV{
	background-color: linear-gradient(90deg,var(--fff),74%,var(--blue));
}*/

/*.xpLvl{
	background: linear-gradient(90deg,var(--fff),74%,var(--blue));
}*/



/*Chat*/
.chatItem {
    background-color: var(--transparent) !important;
    color: var(--fff);
    text-shadow: var(--outline)
 }
 .chatMsg {
     color: var(--fff);
     text-shadow: var(--outline)
 }
 .chatMsg [style="color:#fff"] {
     color: var(--fff) !important;
     text-shadow: var(--outline);
 }
 .chatMsg[style="color:#fc03ec"] {
     color: #fff !important;
     text-shadow: var(--outline);
 }
 .chatMsg [style="color:#eb5656"] {
     color: #fff!important;
     text-shadow: var(--outline);
 }
 .chatMsg [style="color:#9eeb56"] {
     color: #fff !important;
     text-shadow: var(--outline);
 }
 .chatMsg [style="color:#76ff03"] {
     color: #fff !important;
     text-shadow: var(--outline);
 }
 #chatInput::placeholder {
     color: rgb(255 255 255);
     text-shadow: var(--outline);
 }
 #chatInput {
     background-color: #8a8a8a99 !important;
     /* border: 3px solid skyblue !important;*/
     color: var(--fff);
     /*text-shadow: var(--outline);*/
     position: fixed;
     /*padding: 10px;*/
     bottom:2%;
 }
 #chatInputHolder {
     background-color: var(--transparent) !important;
     border: var(--transparent) !important;
 }
 #chatList {
     background-color: #8a8a8a99!important;
     /* border: 3px solid skyblue;
     z-index: 10000;*/
     position: fixed;
     left: auto;
     bottom: 6%;
     /*padding: 10px; */
     height: fit-content;
     
 }
 #chatHolder {
     position: fixed;
     z-index: 9999;
     width: auto;
     left: auto;
     bottom: 0% !important;
     /* left: calc(auto+ 100px)!important; */
 }
 #uiBase.onMenu #chatHolder {
     bottom: 0px !important;
     /*top: 85% !important;*/
 }

#voiceDisplay,#chatSwitch{
    display:none;
}


/*Header*/
#signedInHeaderBar{
    z-index: 100;
    background:  var(--mainmenuclr);
    border: 5px solid var(--mainmenuclr);
}


#headerRight{
    color: transparent;
    background: var(--mainmenuclr);
}

#editorBtnM{
    display: none;
}


/*Spectate*/
.sliderSml{
    background-color: darkgrey;
}

#spectButton{
    color: skyblue;
}


/*Server*/
.setBodH {  
    background-color: var(--transparent)
}
.setHed {
    background-color: var(--transparent);
    color: var(--transparent)
}
.setHed:hover {
    background-color: var(--transparent);
}
.setHedS {
    border: 0px solid var(--transparent);
    background-color: var(--transparent);
    color: var(--fff);
}
.quickJoin {
    background-color: var(--transparent)!important;
    color: var(--fff) !important;
    
    border: 4px solid var(--outline) !important;
}
a, a:active, a:visited {
    color: var(--fff);
    text-shadow: var(--outline);
}
input:checked+.slider2 {
    background-color: var(--black);
}
.slider2 {
    background-color: var(--AE86);
}
#serverSearch {
    color: #fff;
    background-color: var(--transparent);
   
} 



/* #bottomLeftHolder{
    background:linear-gradient(90deg,#fff,74%,blue);
} */

/* #menuItemContainer::before {
    -webkit-clip-path: polygon(100% 48%, 0 0, 0 100%);
clip-path: polygon(100% 48%, 0 0, 0 100%);
background: #fff;
} */


/* .clanInput {
    float: right;
    background-color: rgba(0,0,0,.2);
    border: none;
    color: #000;
    border-radius: 4px;
    font-size: 18px;
    width: 200px;
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 10px
}

.clanRolD {
    display: inline-block;
    vertical-align: middle;
    border: none;
    background: #e3e3e3;
    padding: 6px;
    padding-bottom: 6px;
    float: right;
    margin-left: 10px;
    font-size: 15px;
    border-radius: 4px
} */

#krDiscountAd {
    display: none;
}
#menuItemContainer{
    left: -150px;
    transition-duration: 1s;
}

#menuItemContainer:hover{
    left: 0;
}

#menuItemContainer::after{
    --h: 100px;
    position: fixed;
    top: 50%;
    transform: translate(-150%);
    content: '>';
    font-size: 60px;
    color: var(--fff);
    text-align: center;
    width: var(--h);
    aspect-ratio: 1/ 1;
    background-color: transparent;
    left: 170px;
    border-radius: 50%;
    line-height: var(--h);
    pointer-events: all;
    transition: 250ms;
    opacity: 1;
}

#menuItemContainer:hover::after{
    cursor: pointer;
    opacity: 0;
	}
#krDiscountAd {
	display: none;
	}
#deathsVal,
#killsVal,
#livesDisp,
#streakVal,
#myScoreVal,
#kdVal,
#scoreVal {
    color: var(--fff) !important;
    bottom: 7px;
    font-size: 36px;
    display: flex;
    justify-content: center;
    text-shadow: 2px 2px 3px rgba(30, 30, 30, .5);
}

#deathsVal::after,
#killsVal::after,
#streakVal::after,
#myScoreVal::after,
#livesDisp::after,
#kdVal::after,
#scoreVal::after {
    display: block;
    position: fixed;
    margin-top: 45px;
    font-size: 14px;
    text-shadow: 2px 2px 3px rgba(30, 30, 30, .5);
}

#deathsVal::after {
    content: 'Deaths';
}

#killsVal::after {
    content: 'Kills';
}

#streakVal::after {
    content: 'Streak';
}

#myScoreVal::after {
    content: 'Score';
}

#livesDisp::after {
    content: 'Lives';
}

#kdVal::after {
    content: 'KDR';
}

#killsIcon,#deathsIcon,#streakIcon,#kdIcon,#scoreCount .material-icons,#livesCount .material-icons {
    display: none;
}

#kdCount {
    position:fixed;
    transform:translateX(-50%);
    right:1.2%;
	bottom: 70%;
    background-color:var(--transparent);
}

#scoreCount {
    position:fixed;
    transform:translateX(-50%);
    right:0%;
	bottom: 70%;
    background-color:var(--transparent);
}

#streakCount {
    position:fixed;
    transform:translateX(-50%);
    right:5.2%;
	bottom: 70%;
    background-color:var(--transparent);
}

#killCount {
    position:fixed;
    transform:translateX(-50%);
    right:10%;
	bottom: 70%;
    background-color:var(--transparent);
}
#deathCount {
    position:fixed;
    transform:translateX(-50%);
    right:7.6%;
	bottom: 70%;
    background-color:var(--transparent);
}

#slid_healthColE{
    background: #ff8888;
}

/* #scoreCount {
background-color: transparent;
}

#kdCount {
background-color: transparent;
} */

 #menuItemContainer{
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
}


#signedOutHeaderBar,
#signedInHeaderBar{
    border: solid #fff;
    border-width: 0px 2px 2px 0px ;
}

/*  Hubbsi fix mal kdr sache */
/* thx */
